@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>@ViewData["Title"]</h1>
        <p>Check your email</p>
    </div>
</header>
<div class="container align-items-center justify-content-between pt-xxl-5 pb-xxl-5 d-flex flex-column mt-5 mt-5">
    <p>
        Please check your email to reset your password.
    </p>
</div>
