@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>@ViewData["Title"]</h1>
        <p>Confirm in your inbox gmail</p>
    </div>
</header>
<div class="container align-items-center justify-content-between pt-xxl-5 pb-xxl-5 d-flex mt-5 mt-5">
    @{ 
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
