@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>@ViewData["Title"]</h1>
        <p>Password changed successfully!</p>
    </div>
</header>
<div class="container align-items-center justify-content-between pt-xxl-5 pb-xxl-5 d-flex flex-column mt-5 mt-5">
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>